header {
    background-color: grey;
  }
  
  h1 {
    text-align: center;
  }
  
  .estrellas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0.3); /* Cambiar el valor para hacer las estrellas más grandes o más pequeñas */
  }
  
  
  #cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px; /* Agregar espaciado entre las tarjetas */
    max-width: 1200px; /* Establecer un ancho máximo */
    margin: 0 auto; /* Centrar horizontalmente */
    padding: 20px; /* Agregar un poco de espacio interno */
    background-color: #f2f2f2; /* Color de fondo */
    border: 1px solid #ccc; /* Borde */
    border-radius: 5px; /* Bordes redondeados */
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Agregar un poco de espacio interno */
    background-color: #fff; /* Color de fondo */
    border: 1px solid #ccc; /* Borde */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1); /* Sombra */
    transform: scale(0.8);
  }
  
  .card img {
    max-width: 100%; /* Establece un ancho máximo para las imágenes */
    height: auto; /* Ajusta la altura de las imágenes automáticamente */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .card h2 {
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
  
  .card p {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 1em;
  }
  
  .card button {
    background-color: #2196f3;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .card button:hover {
    background-color: #1565c0;
  }
  
  /* Para pantallas pequeñas, como smartphones */
  @media (max-width: 576px) {
    #cardContainer {
      width: 100%;
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    }
    
    .card {
      width: 100%;
    }
  }
  
  /* Para pantallas medianas, como tablets */
  @media (min-width: 768px) and (max-width: 992px) {
    #cardContainer {
      width: 90%;
      grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
    }
  
    .card {
      width: 100%;
    }
  }
  
  /* Para pantallas grandes, como laptops y escritorios */
  @media (min-width: 992px) {
    #cardContainer {
      width: 90%;
      grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    }
  }
  